--trusted-host nexus3.dev.4m-a.org
--extra-index https://${NEXUS_USERNAME}:${NEXUS_PASSWORD}@nexus3.dev.4m-a.org/repository/4m-pypi-development/pypi
--extra-index-url https://${NEXUS_USERNAME}:${NEXUS_PASSWORD}@nexus3.dev.4m-a.org/repository/4m-pypi-development/simple
--extra-index https://${NEXUS_USERNAME}:${NEXUS_PASSWORD}@nexus3.dev.4m-a.org/repository/4m-pypi-releases/pypi
--extra-index-url https://${NEXUS_USERNAME}:${NEXUS_PASSWORD}@nexus3.dev.4m-a.org/repository/4m-pypi-releases/simple
--no-binary :4ma-vault-utils:
4ma-vault-utils==0.1.3.dev0
